.swal2-confirm.btn-succ {
    background-color: #ED1C24;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
}

.swal2-title.title-class {
    color: #000000; 
    font-size: 24px;
    font-weight: bold;
}

.swal2-content.content-class {
    color: #333333; 
    font-size: 18px;
}

#imagen {
    margin-top: 40px !important;
}

.custom-file-label::after {
  background: #ED1C24 !important; /* Rojo */
  color: white !important;
}